<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625437306285-isistnn84v9r2g7p1qcsat5rus16rnv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625437306285-isistnn84v9r2g7p1qcsat5rus16rnv4</string>
	<key>API_KEY</key>
	<string>AIzaSyBLq6mmF_23TGw1dYzL-UFhtq701H4FXdM</string>
	<key>GCM_SENDER_ID</key>
	<string>625437306285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eos.eosChatting</string>
	<key>PROJECT_ID</key>
	<string>eos-chatting-cd7e3</string>
	<key>STORAGE_BUCKET</key>
	<string>eos-chatting-cd7e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625437306285:ios:0292ecd5a2f425b3814524</string>
</dict>
</plist>