<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130235349121-d56ivecb8jpgpgfvcl9pp51l8mhqdeej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130235349121-d56ivecb8jpgpgfvcl9pp51l8mhqdeej</string>
	<key>API_KEY</key>
	<string>AIzaSyCmDRSp3X-Qt7Rtq-Hc66NogiCrEf6hlXY</string>
	<key>GCM_SENDER_ID</key>
	<string>130235349121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPractice</string>
	<key>PROJECT_ID</key>
	<string>eos-clock-bd538</string>
	<key>STORAGE_BUCKET</key>
	<string>eos-clock-bd538.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130235349121:ios:564e5722a0a00de0e9f580</string>
</dict>
</plist>